PIHOLE_INTERFACE={{ pihole_interface }}
IPV4_ADDRESS={{ pihole_ipv4_address }}/24
IPV6_ADDRESS=
QUERY_LOGGING={{ pihole_query_logging | lower }}
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE={{ pihole_cache_size }}
DNS_FQDN_REQUIRED={{ pihole_dns_fqdn_required | lower }}
DNS_BOGUS_PRIV={{ pihole_dns_bogus_priv | lower }}
DNSMASQ_LISTENING=local
BLOCKING_ENABLED=true
PIHOLE_DNS_1={{ pihole_upstream_dns_1 }}
PIHOLE_DNS_2={{ pihole_upstream_dns_2 }}
DNS_REVERSE_LOOKUPS=false
DNSSEC={{ pihole_dnssec_enabled | lower }}
CONDITIONAL_FORWARDING={{ pihole_conditional_forwarding | lower }}
REV_SERVER=false
RATE_LIMIT={{ pihole_rate_limit }}
