interface={{ wifi_interface }}
bind-interfaces
server={{ wifi_gateway }}
domain-needed
bogus-priv
dhcp-range={{ dhcp_range_start }},{{ dhcp_range_end }},{{ wifi_netmask }},{{ dhcp_lease_time }}
dhcp-option=3,{{ wifi_gateway }}
dhcp-option=6,{{ wifi_gateway }}
dhcp-authoritative
log-queries
log-dhcp
listen-address={{ wifi_gateway }}
